<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anastasia Bielievitina</title>
    <link rel="icon" type="image/x-icon" href="./assets/Favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="small-screen-header d-none">
        <div class="row g-0">
            <div class="col d-flex justify-content-evenly text-center">
                <a href="/">Home</a>
                <a class="middle" href="/blog">Blog</a>
                <a class="last" href="/hire">Hire me</a>
            </div>
        </div>
    </div>

    <div class="container introduction">
        <div class="header d-flex gap-5 justify-content-end align-items-center mt-5">
            <a href="/" class="tertiary-button">Home</a>
            <a href="/blog" class="tertiary-button">Blog</a>
            <a href="/hire" class="primary-button">Hire me</a>
        </div>

        <div class="row mt-5">
            <div class="col-xl-9 cols-md-12 col-sm-12 mt-5 pt-4">
                <h1>Anastasia<br>Bielievitina.</h1>
                <p>I'm a UX/UI designer & Full Stack developer based out of New York. With solid experience in
                    React, Node.js & AJAX I can handle the scope of several specialized professionals and deliver a fully functional responsive web app or a website.</p>
                <div class="d-flex align-items-center gap-3">
                    <a href="#about-me-anchor">
                        <h4 class="secondary-button">About me</h4>
                    </a>
                    <h3>/</h3> <a href="#my-work-anchor">
                        <h4 class="secondary-button">my work.</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="about-me-bg" id="about-me-anchor">
        <div class="container about-me section">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-6">
                    <h2>About me</h2>
                    <p class="mt-4">Hi there! I'm Anastasia, but I mostly go by Anabel. I'm a self-taught full-stack developer and web designer proficient in the MERN stack. Over the past 6 months, I have dedicated countless hours to programming and have gone all the way to building full-fledged web services.</p>
                    <p class="mt-4">Positively impacting someone's life with my products while working in an intellectually challenging environment has always been a tremendous passion of mine. Web development allowed me to have unlimited creative expansion and complete control over my vision.</p>
                    <p class="mt-4">Shoot me a message if you'd like to collaborate. Honestly, can't wait to work together!</p>
                    <h2 class="mt-5">Skillset</h2>
                    <div class="skillset-items d-flex flex-wrap gap-3 w-100 mt-4">
                        <div class="skill-item">React</div>
                        <div class="skill-item">Next.js</div>
                        <div class="skill-item">Node.js</div>
                        <div class="skill-item">AJAX</div>
                        <div class="skill-item">MongoDB</div>
                        <div class="skill-item">TypeScript</div>
                        <div class="skill-item">RESTful API</div>
                        <div class="skill-item">Figma</div>
                    </div>
                </div>

                <div class="sticky d-flex flex-column">
                    <h5 class="text-uppercase">Core Abilities</h5>
                    <div class="d-flex align-items-center gap-3 mt-3"><img src="./assets/Star_Fill_Icon.svg"
                            alt="a star icon">UX & UI Design & Prototyping</div>
                    <div class="d-flex align-items-center gap-3 mt-2"><img src="./assets/Star_Fill_Icon.svg"
                            alt="a star icon">Front End Development</div>
                    <div class="d-flex align-items-center gap-3 mt-2"><img src="./assets/Star_Fill_Icon.svg"
                            alt="a star icon">Backend Development</div>
                    <div class="d-flex align-items-center gap-3 mt-2"><img src="./assets/Star_Fill_Icon.svg"
                            alt="a star icon">API Integration</div>
                    <div class="d-flex align-items-center gap-3 mt-2"><img src="./assets/Star_Fill_Icon.svg"
                            alt="a star icon">Cross Platform Responsiveness</div>
                </div>

            </div>
        </div>
    </div>

    <div class="availability-bg d-flex justify-content-center mx-auto" id="my-work-anchor">
        <div class="container availability section">
            <h2 class="text-center">I'm available for</h2>

            <div class="row mt-5 g-5 d-flex justify-content-around">
                <div class="col-xl-6 col-md-12 card-one p-4">
                    <h3>Backend Development</h3>
                    <p>Backend is the behind-the-scenes of every project. Hidden from our eyes, it's responsible for making things work. With solid experience in Node.js, AJAX, APIs, and TypeScript, I'll help you build the backbone of your web app from scratch or integrate it into your existing website.</p>
                    <p>A custom solution like this, unlike Wordpress, allows for complete control over your startup.</p>
                </div>
                <div class="col-xl-6 col-md-12 card-two p-4">
                    <h3>Frontend Development</h3>
                    <p>Frontend is everything you see on your screen. It's pretty and allows you to interact with the behind-the-scenes, that would otherwise be one hell of a mess for you as a user.</p>
                    <p>It's crucial for the client-side to be intuitive and functional. Luckily for you, I'm equipped with a powerful combination of React, Tailwind & HTML CSS to help you achieve it!</p>
                </div>
                <div class="col-xl-6 col-md-12 card-three p-4">
                    <h3>Accessible Web UX/UI</h3>
                    <p>If backend is the underlying infrastructure that powers the frontend, User Experience & User Interface father them both. With these two in place the development process becomes much faster and easier.</p>
                    <p>I design UI and prototype UX in Figma. Having such pre-designed structure allows to swiftly translate it into HTML SCSS, and build the server-side.</p>
                </div>
                <div class="col-xl-6  col-md-12 card-four p-4">
                    <h3>Branding & Asset Design</h3>
                    <p>At the core of exceptional UX/UI lies custom assets. Well-designed assets have the power to transform an otherwise homogeneous product into a distinguishable and recognizable brand.</p>
                    <p>On the technical side, having reusable components & variables, which I also design in Figma, helps maintain an efficient and organized structure for your web app or website in the long run.</p>
                </div>
            </div>
        </div>

        <a class="fixed-button d-flex justify-content-center" href="/hire">Work with me</a>

    </div>


    <div class="major-section-bg">

<div class="container latest-posts section d-flex justify-content-center pt-5">
  <div class="row">
    <div class="col">
      <h2>Latest Posts</h2>

      <!-- Responsible for dynamically generating an article's preview -->
      <% latestPosts.forEach(function(post) { %>
      <div class="single-preview mt-5 mb-5">
        <h6><%= post.date %></h6>
        <a href="/posts/<%= post.title %>">
          <h3 class="mt-4"><%= post.title %></h3>
        </a>
        <div class="tags-container d-flex flex-wrap mt-4 mb-5 gap-4">
          <% var tagsArray = post.tags.split(","); %>
          <% tagsArray.forEach(function(tag) { %>
          <% var colors = ["yellow", "green", "blue", "red", "pink"]; %>
          <% var randomColor = colors[Math.floor(Math.random() * colors.length)]; %>
          <h6 class="<%= randomColor %>"><%= tag.trim() %></h6>
          <% }) %>
        </div>
      </div>
      <% }) %>
      <!-- End of dynamically generated article's preview -->

      <div class="d-flex align-items-center">
        <h4><a href="/blog">All posts</a><i class="fa-solid fa-arrow-right fa-beat mx-3" style="color: #37393d;"></i></h4>
      </div>
    </div>
  </div>
</div>

          

        <div class="container newsletter" id="newsletter-container">
            <div class="row">
                <div class="col">
                    <h2>Sign Up for My Fresh Articles!</h2>
                    <p>Receive an email notification when a new post goes live. I will also occasionally send you stuff
                        from the world of web design and web development.</p>
                    <form action="/" method="POST" id="newsletter-form">
                        <div class="form">
                            <input type="email" name="email" placeholder="Enter your email..." autocomplete="off" required>
                        </div>
                        <button type="Submit" class="subscribe">Subscribe</button>
                    </form>
                    <p class="disclaimer">Please confirm your email address, and check your spam folder in case the
                        email hasn’t popped up in the inbox.</p>
                </div>
            </div>
        </div>

        <div class="container self-development section">
            <div class="row">
                <div class="col">
                    <h2>Self-Development</h2>
                    <p class="mt-5">I believe in the power of self-education, and everything I have achieved rests on
                        the discipline of my mind.</p>
                    <ul>
                        <li>Full Stack Development Bootcamp | 65hrs - <a class="link"
                            href="https://www.udemy.com/certificate/UC-77c72de3-3d35-45f0-98d4-cad64ff20f80/">click
                            for verification link</a></li>
                        <li>Node.js, React, MongoDB: The Complete Bootcamp | 42hrs - <a class="link"
                                href="https://www.udemy.com/certificate/UC-e9ea12f3-5702-4175-986c-f90aa3f6bbb8/">click
                                for verification link</a></li>
                    </ul>
                    <div class="lets-connect mt-5">
                        <h3>Let's Connect</h3>
                        <p>I'm always open to new ideas, collaborations, and constructive feedback, so feel free to
                            connect with me anywhere here!</p>
                        <div class="social-container gap-3 d-flex flex-wrap justify-content-between">
                            <a class="primary-button" href="https://github.com/Anabel7213">Github</a>
                            <a class="primary-button" href="https://www.behance.net/abielievitina">Behance</a>
                            <a class="primary-button" href="https://medium.com/@abielievitina">Medium</a>
                            <a class="primary-button" href="https://www.instagram.com/_aesth_eticco_/">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include("partials/footer"); -%>

    <script src="https://kit.fontawesome.com/c193febbe5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>$(document).ready(function () {
        $("#newsletter-form").submit(function (e) {
            e.preventDefault();
    
            var formData = $(this).serialize();
    
            $.post("/", formData, function (response) {
                $("#newsletter-container").html(`
          <div class="row text-center">
            <div class="col">
              <h2>You’re subscribed!</h2>
              <p>Once a week I’ll be sending you something useful from the field of IT. You can unsubscribe any time if you don’t find it valuable.</p>
              <form action="/blog" method="GET">
                <button type="submit" class="primary-button">Check out blog</button>
              </form>
            </div>
          </div>
        `);
            });
        });
    });</script>

</body>

</html>
